* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b1b;
}

header {
    background-image: url('images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    text-align: center;
}

header h1 {
    color: #fff;
    padding-top:30px;
}

form {
    justify-content: center;
    padding-top: 30px;
}

form input {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    width: 50%;
}

form button {
    background-color: #222;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 5%;
}

.ip-info {
    background-color: #fff;
    border-radius: 25px;
    justify-content: space-around;
    left: 50%;
    padding: 50px 0;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 500;
}

.ip-info span {
    color: #1b1b1b;
    display: block;
    font-size: 24px;
}

.ip-info p {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 700;
}

.ip-info .divider {
    background: #a3a3a3;
    height: 50px;
    width: 2px;
}

#map { height: 100vh; }

section {
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1330px;
}

.flex-container {
    display: flex;
    margin: 0 auto;
}