* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    text-align: center;
}

header h1 {
    color: #fff;
    padding-top:30px;
}

form {
    padding-top: 30px;
}

form input {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    width: 60%;
}

form button {
    background-color: #222;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 6%;
}

.container {
    margin: 0 auto;
    max-width: 1330px;
}

.flex-container {
    display: flex;
    justify-content: center;
}